@use '@/app/_common.scss' as c;

.label{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;

    border-radius: c.px-to-rem(4);
    outline-offset: c.px-to-rem(2);
}

// Pass pseudo-class styles to the decorative checkbox child via CSS variables
.onDark{
    --checkboxMain: var(--c-main-50);
    --checkboxBG: var(--checkboxMain);
    --checkboxBorder: var(--checkboxMain);
    --checkboxContrast: var(--c-main-saturated);

    &:hover{
        --checkboxMain: var(--c-main-25);
    }

    &:focus,
    &:focus-within{
        --checkboxMain: var(--c-main-25);
        --checkboxOutline: var(--checkboxMain) var(--focusOutlineNoColour);
        outline: var(--checkboxOutline);
    }

    &:active{
        --checkboxMain: white;
    }

    color: var(--checkboxMain);
}

.onLight{
    --checkboxBG: var(--formElementBg);
    --checkboxBorder: var(--formElementBorder);
    --checkboxContrast: var(--formElementIconOnBorder);

    &:hover{
        --checkboxBG: var(--formElementBgHover);
        --checkboxBorder: var(--formElementBorderHover);
        --checkboxContrast: var(--formElementIconOnBorder-hover);
    }

    &:focus,
    &:focus-within{
        --checkboxBG: var(--formElementBgFocus);
        --checkboxBorder: var(--formElementBorderFocus);
        --checkboxOutline: var(--checkboxBorder) var(--focusOutlineNoColour);
        --checkboxContrast: var(--formElementIconOnBorder-focus);

        outline: var(--checkboxOutline);
    }

    &:active{
        --checkboxBG: var(--formElementBgActive);
        --checkboxBorder: var(--formElementBorderActive);
        --checkboxContrast: var(--formElementIconOnBorder-active);
    }

    color: var(--c-labels);
}