@use '@/app/_common.scss' as c;


.checkbox{
    height: c.px-to-rem(28);
    width: c.px-to-rem(28);

    border: c.px-to-rem(3) solid var(--checkboxBorder);
    border-radius: c.px-to-rem(4);

    display: flex;
    align-items: center;
    justify-content: center;

    height: c.px-to-rem(28);
    width: c.px-to-rem(28);

    background: var(--checkboxContrast);
    color: var(--checkboxContrast);
}

.filled{
    background: var(--checkboxBG);
}

.animWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 100%;
        width: 100%;
    }
}