@use '@/app/_common.scss' as c;


.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;

    height: c.px-to-rem(28);
    width: c.px-to-rem(28);

    // CSS variables cascade, so use those to set pseudo-state colours form the parent
    background: var(--checkboxContrast);
    color: var(--checkboxContrast);
    border: c.px-to-rem(3) solid var(--checkboxBorder);

    border-radius: c.px-to-rem(4);
}

.filled{
    background: var(--checkboxBorder);
}

.animWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 100%;
        width: 100%;
    }
}