@use '@/app/_common.scss' as c;


.optionPlain{
    padding: c.px-to-rem(4) c.px-to-rem(8);
    
    cursor: pointer;
    position: relative;

    &:hover{
        @include c.formElement-hover();
        &:after{
            @include c.overlaidBorder();
        }
    }
    &:focus{
        @include c.formElement-focus();
    }
    &:active{
        @include c.formElement-active();
        &:after{
            @include c.overlaidBorder();
            border-style: dashed;
        }
    }
}