@use '@/app/_common.scss' as c;


.warning{
    align-items: center;
    background: var(--badge-warning-bg);
    border: c.px-to-rem(1) solid var(--badge-warning-border);
    color: var(--badge-warning-text);
    display: flex;
    font-size: c.px-to-rem(12);
    font-weight: 600;
    gap: c.px-to-rem(4);
    padding: c.px-to-rem(1) c.px-to-rem(5) c.px-to-rem(1) c.px-to-rem(3);

    svg {
        width: c.px-to-rem(20);
        height: c.px-to-rem(20);
    }
}