@function px-to-rem($px-num){
    @return calc($px-num / 16) * 1rem;
}
  

@mixin visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


@mixin focusFormat{
    outline: px-to-rem(1) dotted;
    position: relative;
    z-index: 9999999;
}

@mixin overlaidBorder{
    content: "";
    display: block;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    border-style: dotted;
    border-color: var(--c-bg-strong);
    border-width: px-to-rem(1) 0;
}

@mixin formElement{
    background: var(--c-bg-weakest);
    border: px-to-rem(1) solid var(--formElementBorder);
    border-radius: px-to-rem(3);
    color: var(--c-bodyText-on-weakest);
}

@mixin formElement-hover{
    border-color: var(--formElementBorderHover);
    background: var(--c-bg-main);
    color: var(--c-highlightText-on-weakish);
}

@mixin formElement-focus{
    @include focusFormat();
    color: var(--c-highlightText-on-weakish);
}

@mixin formElement-active{
    border-color: var(--formElementBorderHover);
    border-radius: px-to-rem(2);
    background: var(--c-bg-veryWeak);
    color: var(--c-bodyText-on-veryWeak);
}

@mixin formElement-error{
    background: var(--c-bg-weakest);
    border: px-to-rem(2) solid var(--formElementBorder);
    border-radius: px-to-rem(3);
    color: var(--c-errorText-on-weak);
}

@mixin labels{
    color: var(--c-labels);
    font-size: px-to-rem(16);
    font-weight: 700;
}
