@use '../../../app/_common' as c;

.displayHeading{
    line-height: 1;
    margin: 0 0 c.px-to-rem(-3) 0;
}

.main{
    font-size: c.px-to-rem(42);
}

.panel{
    font-size: c.px-to-rem(34);
}

.form{
    font-size: c.px-to-rem(30);
}

.mainSubtitle{
    font-size: c.px-to-rem(14);
}

.panelSubtitle{
    font-size: c.px-to-rem(12);
}