@use '@/app/_common.scss' as c;

.input{
    overflow: auto;
    padding: c.px-to-rem(6) c.px-to-rem(8);
    &:focus{
        @include c.focusFormat();
        outline-offset: c.px-to-rem(1);
    }
}

.default{
    @include c.formElement();
    &:active{
        @include c.formElement-active();
    }
}

.error{
    @include c.formElement-error();
}