@use '@/app/_common.scss' as c;


.boldBackground{
    background: var(--c-main-saturated);
}


.iconLibraryContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    max-width: 100%;
    color: black;

    svg {
        width: 29px;
        height: 29px;
    }
}

.testGreenText{
    color: green;
}

.testBlueText{
    color: dodgerblue;
}

.testCustomNumberBadgeSize{
    border-radius: 50%;
    font-size: c.px-to-rem(46);
    min-width: c.px-to-rem(66);
    padding: c.px-to-rem(10) c.px-to-rem(4);
}