@use '@/app/_common.scss' as c;


.iconLibraryContainer{
    display: flex;
    gap: 0.25rem;

    svg {
        path {
            fill: black;
        }
    }
}

.testGreenText{
    color: green;
}

.testBlueText{
    color: dodgerblue;
}

.testCustomNumberBadgeSize{
    border-radius: 50%;
    font-size: c.px-to-rem(46);
    min-width: c.px-to-rem(66);
    padding: c.px-to-rem(10) c.px-to-rem(4);
}