/*
    CSS classes to support CSSTransition's animation of the radio.
    This file allows me to do this:

        import { CSSTransition } from 'react-transition-group';
        import animStyles from './CheckboxDecorationAnim.module.scss';

        <CSSTransition
            ...otherProps
            classNames={{...animStyles}}
        >
*/

@use '@/app/_common.scss' as c;

// This must match the transition duration in the React component
$transitionDuration: 150ms;

.enter{
    transform: scale(0);
}
.enterActive {
    transform: scale(1);
    transition: all $transitionDuration ease-in-out;
}
.enterDone{
    transform: scale(1);
}
.exit {
    transform: scale(1);
}
.exitActive {
    transform: scale(0);
    transition: transform $transitionDuration ease-in-out;
}
